
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.header {
    background-color: #E6D3B3; /* beige sable */
    text-align: center;
    padding: 45px 0; /* réduit de 25% par rapport à 60px */
}

.header p {
    margin: 0;
    font-style: italic;
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    text-align: justify;
}
